* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  max-height: fit-content;
}

/* heading css */
#header{
  width: 100%;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  background-color: #404040;
  position: fixed;
  z-index: 1;
}

#header h1 {
  width: 25%;
  font-weight: 500px;
  margin: 10px 30px;
  color: #404040;
  padding: 0 10px 0 25px;
  background-color: aquamarine;
  
}
#navBar {
  display: flex;
  width: 75%;
  align-items: center;
  justify-content: space-evenly;
  
}

.about, .home, .contact,.work{
  color: aquamarine;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  
}

/* hero banner css */
.hero-banner{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-color: #5d5151;
  height: 550px;
  padding-top: 100px;
}

.name{
  display: block;
  width: 50%;
  margin: 0 50px;
  
}

.name p{
  color: aquamarine;
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 0px;
  margin-top: 0px;
  

}
.name h2{
  color: aquamarine;
  font-weight: 700;
  font-size: 35px;
  font-style: italic;
  margin-top: 0px;
  margin-bottom: 5px;
}

.image{
  display: block;
  position: absolute;
  width: 50%;
  top: 150px; 
}

.image img{
  width: 60%;
  height: 70%;
  border-radius: 220px;
  margin-left: 650px;
}

/* About container*/
#about{
  width: 100%;
  display: flex;
  flex-direction: row;
  /* margin: 30px auto ; */
  

}
#about h3{
  width: 25%;
  float: left;
  font-size: 40px;
  margin: 0 10px 0px 50px;
  font-weight: 700;
  border-right: solid 5px aquamarine;
}

#about p{
  width: 75%;
  margin: 0 30px 0px 30px;
  float: right;
  text-align: justify;
}

/* portfolio container */
#work {
  width: 100%;
  margin: 0 ;
  
}

.heading{
    width: 25%;
    float: left;
    margin: 20px 20px 0 0;
}
    .heading h3{
    font-size: 40px;
    margin: 20px;
    padding: 40px;
    font-weight: 700;
        
}
 
.gallery{
  width: 75%;
  position: relative;
  left: 15px;
  top: -160px;
  float: right;
  display:grid;
  margin: 0  ;
  grid-template-columns: 0.47fr 0.47fr;
  grid-template-rows: 150px 150px 150px 150px;
  grid-template-areas: 
  "surf surf"
  "surf surf"
  "led calculator"
  "pasta buddy"
  ;
  border-left: solid 5px aquamarine;
}


#work1{
  grid-area: surf;
  background-image: url("../images/02-portfolio-4.jpg");
}

#work2{
  grid-area: led;
  background-image: url("../images/02-portfolio-1.jpg");
}

#work3{
  grid-area: calculator;
  background-image: url("../images/02-portfolio-2.jpg");
}

#work4{
  grid-area: pasta;
  background-image: url("../images/02-portfolio-3.jpg");
}

#work5{
  grid-area: buddy;
  background-image: url("../images/02-run-buddy.jpg");

}

.categoryGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end; 
 }

 #contact{
  width: 100%;
  display: flex;
  position: relative;
  top: -120px;
  flex-direction: row;
  /* margin: -40px 50px 0 0 ; */

}
#contact h3{
  width: 50%;
  float: left;
  font-size: 30px;
  padding: 30px 20px;
  margin: 0 75px 0px 50px;
  font-weight: 700;
  border-right: solid 5px aquamarine;
}

#contact a{
  width: 50%;
  margin: 20px 30px 0 0 ;
  float: right;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
    
}


