* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

#header{
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #404040;
  position: fixed;
}

#header h1 {
  width: 25%;
  font-weight: 500px;
  margin: 10px 30px;
  color: #404040;
  padding: 0 10px;
  background-color: aquamarine;
  
}
#navBar {
  display: flex;
  width: 75%;
  align-items: center;
  justify-content: space-evenly;
  
}

.about, .home, .contact,.work{
  color: aquamarine;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  /* s */
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
.contact-section {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  padding: 20px;
  column-gap: 60px;
  
}
.fb{
  color: skyblue;
  text-decoration: none;
}
.tw{
  color: yellow;
  text-decoration: none;
}

.ig{
  color: red;
  text-decoration: none;
} */
