:root{
  --primary-width:100%;
  --secondary-width:25%;
  --main-direction :flex;
  --primary-color: #404040;
  --basic-color: aquamarine;

}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
 
}

/* heading css */
#header{
  width: var(--primary-width);
  margin-bottom: 100px;
  display: var(--main-direction);
  flex-direction: row;
  background-color: var(--primary-color);
  position: fixed;
  z-index: 1;
}

#header h1 {
  width: var(--secondary-width);
  font-weight: 500px;
  margin: 10px 30px;
  color: var(--primary-color);
  padding: 0 10px 0 25px;
  background-color: var(--basic-color);
  
}
#navBar {
  display: var(--main-direction);
  width: 75%;
  align-items: center;
  justify-content: space-evenly;
  
}

.about, .home, .contact,.work{
  color: var(--basic-color);
  text-decoration: none;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  
}

/* hero banner css */
.hero-banner{
  width: var(--primary-width);
  display: var(--main-direction);
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-color: #5d5151;
  height: 550px;
  padding-top: 100px;
}

.name{
  display: block;
  width: 50%;
  margin: 0 50px;
  
}

.name p{
  color: var(--basic-color);
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 0px;
  margin-top: 0px;
  

}
.name h2{
  color: var(--basic-color);
  font-weight: 700;
  font-size: 35px;
  font-style: italic;
  margin-top: 0px;
  margin-bottom: 5px;
}

.image{
  display: block;
  position: absolute;
  width: 50%;
  top: 150px; 
}

.image img{
  width: 60%;
  height: 70%;
  border-radius: 220px;
  margin-left: 650px;
}

/* About container*/
#about{
  width: var(--primary-width);
  display: var(--main-direction);
  flex-direction: row;
  margin-top: 20px;
  
  

}
#about h3{
  width: var(--secondary-width);
  float: left;
  font-size: 40px;
  margin: 0 10px 0px 50px;
  font-weight: 700;
  border-right: solid 5px var(--basic-color);
}

#about p{
  width: 75%;
  margin: 0 30px 0px 30px;
  float: right;
  text-align: justify;
}

/* portfolio container */
#work {
  width: var(--primary-width);
  margin: 0 ;
  
}

.heading{
    width: var(--secondary-width);
    float: left;
    margin: 20px 20px 0 0;
}
    .heading h3{
    font-size: 40px;
    margin: 20px;
    padding: 40px;
    font-weight: 700;
        
}
 
.gallery{
  width: 75%;
  position: relative;
  left: 15px;
  top: -160px;
  float: right;
  display:grid;
  margin: 0  ;
  grid-template-columns: 0.47fr 0.47fr;
  grid-template-rows: 150px 150px 150px 150px;
  grid-template-areas: 
  "surf surf"
  "surf surf"
  "led calculator"
  "pasta buddy"
  ;
  border-left: solid 5px var(--basic-color);
}


#work1{
  grid-area: surf;
  background-image: url("../images/02-portfolio-4.jpg");
}

#work2{
  grid-area: led;
  background-image: url("../images/02-portfolio-1.jpg");
}

#work3{
  grid-area: calculator;
  background-image: url("../images/02-portfolio-2.jpg");
}

#work4{
  grid-area: pasta;
  background-image: url("../images/02-portfolio-3.jpg");
}

#work5{
  grid-area: buddy;
  background-image: url("../images/02-run-buddy.jpg");

}

.categoryGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end; 
 }

 #contact{
  width: var(--primary-width);
  display: var(--main-direction);
  position: relative;
  top: -120px;
  flex-direction: row;
  /* margin: -40px 50px 0 0 ; */

}
#contact h3{
  width: 50%;
  float: left;
  font-size: 30px;
  padding: 30px 20px;
  margin: 0 75px 0px 50px;
  font-weight: 700;
  border-right: solid 5px var(--basic-color);
}

#contact a{
  width: 50%;
  margin: 20px 30px 0 0 ;
  float: right;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
    
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }
  img{
    display:none;
  }

  .heading h3{
    width: 15%;
    float: left;
    margin-right: 50px;
    margin: 20px 0 0 0;
}
  h1,h2{
    display: inline;
    font-size: 10px;
    margin: 0 30px;
    padding: 0;
  }
  .about{
    flex-direction:column ;
  }
  .name{
    /* width: 100%; */
    display: block;
      max-width: 50%;
  }
  .gallery{
    max-width: 70%;
    top: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: 150px 150px 150px 150px 150px;
  grid-template-areas: 
  "surf "
  "led "
  "calculator"
  "pasta"
  "buddy"
  ;
  border-left: solid 5px aquamarine;
  }
  #contact{
    display: inline-flex;
    max-width: 100%;
    margin-top: 150px;
    
  }

  #contact h3{
    font-size: 20px;
    margin: 10px;
    max-width: 25%;
    
  }
  #contact a{
    font-size: 20px;
    margin: 10px ;
    padding: 0;
   max-width: 55%;
    
  }
}

